<link rel="stylesheet" href="tab2.page.scss">


<ion-content>
 

  <div class="ion-page" id="main-content2">
    <ion-header>

      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
         <a href="/tabs/tab1">
        <img alt="Silhouette of mountains"
          src="https://images.vexels.com/media/users/3/229082/isolated/preview/6fabc24c3830d75486725cc6d786dfbb-logotipo-dos-circulos-do-livro.png"
          id="logo" />
        </a>
      </ion-toolbar>
    </ion-header>
  </div>

  <ion-menu contentId="main-content2">
    <ion-header>
      <ion-toolbar>
        <ion-title>Opções</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="caixaOpcoes">
        <a href="/tabs/tab3" class="linksMenu">Perfil</a>
      </div>
      <div class="caixaOpcoes">
        <a href="#">Configurações</a>
      </div>
      <div class="caixaOpcoes">
        <a href="#">Minhas compras</a>
      </div>
    </ion-content>

  </ion-menu>

  <main>
    <br>
    <h1 id="titulo">Produtos</h1>
    <ion-input label-placement="floating" class="inputexto" fill="outline"
    placeholder="Qual livro deseja?"></ion-input>



    <div id="containerPrincipal">
      <p class="titulosLivro">Livros de mais vendidos</p>
      <div class="caixaProdutos">
        <a class="card livro1" href="/tabs/tab2"></a>
        <a class="card livro2" href="/tabs/tab2"></a>
        <a class="card livro3" href="/tabs/tab2"></a>
      </div>
      <p class="titulosLivro">Livros recomendados</p>
      <div class="caixaProdutos">
        <a class="card livro5" href="/tabs/tab2"></a>
        <a class="card livro6" href="/tabs/tab2"></a>
        <a class="card livro7" href="/tabs/tab2"></a>
        <a class="card livro8" href="/tabs/tab2"></a>
      </div>
      <p class="titulosLivro">Livros de Aventura</p>
      <div class="caixaProdutos">
        <a class="card livro7" href="/tabs/tab2"></a>
        <a class="card livro2" href="/tabs/tab2"></a>
        <a class="card livro3" href="/tabs/tab2"></a>
        <a class="card livro1" href="/tabs/tab2"></a>
      </div>
      <p class="titulosLivro">Livros de Suspense</p>
      <div class="caixaProdutos">
        <a class="card livro2" href="/tabs/tab2"></a>
        <a class="card livro1" href="/tabs/tab2"></a>
        <a class="card livro3" href="/tabs/tab2"></a>
      </div>
      <p class="titulosLivro">Livros de Poesia</p>
      <div class="caixaProdutos">
        <a class="card livro8" href="/tabs/tab2"></a>
        <a class="card livro7" href="/tabs/tab2"></a>
        <a class="card livro3" href="/tabs/tab2"></a>
        <a class="card livro2" href="/tabs/tab2"></a>
        <a class="card livro1" href="/tabs/tab2"></a>
      </div>
    </div>
  </main>

</ion-content>

